%turbo-frame{id: "index-movie-card"}
    .c-card.movie-card
        .c-card-img
            = picture(movie, "w185")
            .overlay
                .show-label
                    %span= movie.title
            - if movie.vote_count > 0
                .rating{ class: "#{movie.rating_classification}-rating" }
                    = "#{movie.vote_average.round(1)}"
            - if current_user && (current_user.seen_movies.find_by(movie_tmdb_id: movie.tmdb_id) || current_user.movie_ratings.find_by(movie_tmdb_id: movie.tmdb_id))
                .user-status
                    - if current_user.seen_movies.find_by(movie_tmdb_id: movie.tmdb_id)
                        .seen-icon
                            %i.fa-solid.fa-check
                    - if current_user.movie_ratings.find_by(movie_tmdb_id: movie.tmdb_id) 
                        .user-rating
                            %i.fa-solid.fa-star.fa-xs
                            = current_user.movie_ratings.find_by(movie_tmdb_id: movie.tmdb_id).rating.to_i
