%turbo-frame{id: "movie-carousel"}
    #movieCarousel.carousel.movie-carousel.slide{"data-bs-ride": "carousel"}
        .carousel-indicators
            - movie_details.size.times do |index|
                %button{"aria-current": "true", "aria-label": "Slide #{index+1}", "data-bs-slide-to": "#{index}", "data-bs-target": "#movieCarousel", type: "button"}
        .carousel-inner
            - movie_details.each do |movie|
                = link_to movie_details_path(movie.to_param), class: "carousel-item", target: "_top" do
                    - unless movie_backdrops.find_by(movie_id: movie.movie_id).file_paths.empty?
                        = image_tag tmdb_image_url(movie_backdrops.find_by(movie_id: movie.movie_id).file_paths[0], "w1280")
                    .carousel-caption.movie-carousel-caption
                        %h1= movie.title
                        %p= movie.overview unless movie.overview.blank?
        %button.carousel-control-prev{"data-bs-slide": "prev", "data-bs-target": "#movieCarousel", type: "button"}
            %span.carousel-control-prev-icon{"aria-hidden": "true"}
        %button.carousel-control-next{"data-bs-slide": "next", "data-bs-target": "#movieCarousel", type: "button"}
            %span.carousel-control-next-icon{"aria-hidden": "true"}

    :javascript
        $(".carousel-indicators button").first().addClass("active");
        $(".carousel-item").first().addClass("active");
