= content_for(:html_title) { @person.name }

.container.person
    .row
        .col-5.col-md-4.col-lg-3
            = render "people/details_partials/sidebar", person: @person
        .col-7.col-md-8.col-lg-9
            .main-content
                .title-block
                    %h1= @person.name
                %nav.person-nav
                    %button.person-nav-link.no-styling{ onclick: "displayComponent(this, 'overview')", class: "#{'active' if params[:selection].blank? || params[:selection] == "overview"}"}
                        %h2= "Übersicht"
                    - if @person.deathday.blank?
                        %button.person-nav-link.no-styling{onclick: "displayComponent(this, 'news')", class: "#{'active' if params[:selection] == "news"}"}
                            %h2= "Neuigkeiten"
                    - if @person.external_ids.twitter_id?
                        %button.person-nav-link.no-styling{onclick: "displayComponent(this, 'twitter-feed')", class: "#{'active' if params[:selection] == "twitter-feed"}"}
                            %h2= "Twitter-Feed"
                    :javascript
                        function displayComponent(button, component) {
                            window.history.replaceState(null, null, "?selection=" + component);
                            var buttons = document.querySelectorAll(".person-nav-link");
                            for (var i = 0; i < buttons.length; i++) {
                                buttons[i].classList.remove("active");
                            }
                            button.classList.add("active");
                            var components = document.getElementsByClassName("switchable-content")
                            for (var i = 0; i < components.length; i++) {
                                components[i].classList.add("hidden")
                            }
                            document.getElementById(component).classList.remove("hidden")
                        }
                #overview.switchable-content{class: "#{'hidden' unless params[:selection].blank? || params[:selection] == "overview"}"}
                    = render "people/details_partials/overview", person: @person
                #news.switchable-content{class: "#{'hidden' unless params[:selection] == "news"}"}
                    %turbo-frame#person-news{src: person_news_path(@person)}
                #twitter-feed.switchable-content{class: "#{'hidden' unless params[:selection] == "twitter-feed"}"}
                    = render "people/details_partials/twitter_feed", person: @person
