= content_for(:html_title) { @person.name }

.container.person
    .row
        .col-5.col-md-4.col-lg-3
            = render "people/details_partials/sidebar", person: @person
        .col-7.col-md-8.col-lg-9
            .main-content
                .title-block
                    %h1= @person.name
                %nav.person-nav
                    %button.person-nav-link.no-styling.active{onclick: "displayComponent(this, 'overview')"}
                        %h2= "Übersicht"
                    - if @person.external_ids.twitter_id?
                        %button.person-nav-link.no-styling{onclick: "displayComponent(this, 'twitter-feed')"}
                            %h2= "Twitter-Feed"
                    :javascript
                        function displayComponent(button, component) {
                            var buttons = document.querySelectorAll(".person-nav-link");
                            for (var i = 0; i < buttons.length; i++) {
                                buttons[i].classList.remove("active");
                            }
                            button.classList.add("active");
                            var components = document.getElementsByClassName("switchable-content")
                            for (var i = 0; i < components.length; i++) {
                                components[i].style.display = "none";
                            }
                            document.getElementById(component).style.display = "block";
                        }
                #overview.switchable-content
                    = render "people/details_partials/overview", person: @person
                #twitter-feed.switchable-content{style: "display: none"}
                    = render "people/details_partials/twitter_feed", person: @person
