.c-card.movie-card
    .c-card-img
        = picture(movie, "w185")
        .overlay
            .show-label
                %i.fa-solid.fa-film
                %span= "Anzeigen"
        - if movie.vote_count > 0
            .rating{ class: "#{movie.rating_classification}-rating" }
                = "#{movie.vote_average}"
    .detail-box
        .content
            %p.main-text= movie.title
            %span.secondary-text= movie.release_date.year
