= content_for(:html_title) { @movie_details.title }
= turbo_stream_from "movie"
.container.movie
    .row
        .col-5.col-md-4.col-lg-3
            .sidebar
                .component.cover.movie-cover
                    = picture(@movie_details, "w400")
                .component.details
                    - if @movie_details.original_title?
                        .detail
                            %h3= "Originaltitel"
                            %p= @movie_details.original_title
                    - if @movie_details.original_language?
                        .detail
                            %h3= "Originalsprache"
                            %p= full_language_name_in_locale(@movie_details.original_language)
                    - if @movie_details.release_date?
                        .detail
                            %h3= "Veröffentlichung"
                            %p= date_in_locale_format(@movie_details.release_date)
                    - unless @movie_details.runtime == 0
                        .detail
                            %h3= "Laufzeit"
                            %p= duration_hours_minutes_format(@movie_details.runtime)
                    - if @movie_details.genres?
                        .detail
                            %h3= "Genres"
                            %p= @movie_details.genres.map { |genre| genre["name"] }.join(", ")
                    - unless @movie_details.budget == 0
                        .detail 
                            %h3= "Budget"
                            %p= number_to_currency(@movie_details.budget, locale: :en)
                    - unless @movie_details.revenue == 0
                        .detail
                            %h3= "Einspielergebnis"
                            %p= number_to_currency(@movie_details.revenue, locale: :en)
                    - if @movie_keyword_set.keywords?
                        .detail
                            %h3= "Schlüsselwörter"
                            .keywords
                                - @movie_keyword_set.keywords.each do |keyword|
                                    %span.keyword= keyword
        .col-7.col-md-8.col-lg-9
            .main-content
                .title-block
                    %h1
                        = @movie_details.title
                        - if @movie_details.release_date?
                            %span.release= "(#{@movie_details.release_date.year})"
                - if @movie_details.tagline?
                    .component.tagline
                        %i.fa-solid.fa-quote-left.fa-pull-left
                        = @movie_details.tagline
                .inline-components
                    .row
                        .col-6.col-lg-3
                            .component.imdb-rating
                                %h2= "IMDb Rating"
                                .content.rating-block
                                    .rating= "#{@movie_details.vote_average} / 10"
                                    .caption.vote-count= "#{@movie_details.vote_count} Stimmen"
                        - unless @movie_details.youtube_trailer_keys.empty?
                            .col-6.col-lg-3
                                .component.trailer
                                    %h2= "Trailer"
                                    %a.content.trailer-link{ href: "https://www.youtube.com/watch?v=#{@movie_details.youtube_trailer_keys[0]}", target: "_blank" }
                                        %i.bi.bi-play-circle.trailer-play-button
                        - unless @movie_backdrop_set.file_paths.empty?
                            .col-6.col-lg-3
                                .component.images
                                    %h2= "Bilder"
                                    .photo-stack-wrapper
                                        %a.photo-stack
                                            - ([@movie_backdrop_set.file_paths.size, 5].min).times do |i|
                                                = image_tag(tmdb_image_url(@movie_backdrop_set.file_paths[i], "w300"))
                .component.plot
                    %h2= "Handlung"
                    - if @movie_details.overview?
                        %p= @movie_details.overview
                    - else
                        %p.empty= "Leider liegt uns bei diesem Film keine Handlung in deiner gewählten Sprache vor."
                .component.cast
                    %h2= "Besetzung"
                    = turbo_frame_tag "casts_#{@movie.id}_#{@movie_details.language_code}" do
                        = render 'cast', cast_set: @movie.cast_sets.find_by(language_code: @movie_details.language_code)
                %hr
                .component.recommendations 
                    %h2= "Empfohlene Filme"
                    = turbo_frame_tag "recommendations_#{@movie.id}_#{@movie_details.language_code}" do
                        = render 'recommendations', recommendation_set: @movie.recommendation_sets.find_by(language_code: @movie_details.language_code)
