.component.biography
    %h2= "Biografie"
    - if @person.biography?
        = simple_format(@person.biography)
    - else
        %p.empty= "Leider liegt keine Biografie in deiner gewählten Sprache vor."
.component.most-famous-movies
    %h2= "Bekannteste Filme"
    %turbo-frame#movies-scroller{src: person_most_famous_movies_scroller_path(@person)}
        = render "movies/details_partials/skeletons/detailed_movies_scroller", movies_amount: 8
.component.filmography 
    %h2= "Filmografie"
    %turbo-frame#filmography{src: person_filmography_path(@person)}
        = render "people/details_partials/skeletons/filmography"
%hr
.component.popular-people
    %h2= "Angesagte Persönlichkeiten"
    %turbo-frame#popular-people-scroller{src: popular_people_scroller_path()}
        = render "people/details_partials/skeletons/people_scroller", people_amount: 8