.component.biography
    %h2= t '.biography'
    - if @person.biography?
        = simple_format(@person.biography)
    - else
        %p.empty= t '.no_biography_message'
.component.most-famous-movies
    %h2= t '.best_known_roles'
    %turbo-frame#movies-scroller{src: person_most_famous_movies_scroller_path(@person)}
        = render "movies/details_partials/skeletons/detailed_movies_scroller", movies_amount: 8
.component.filmography 
    %h2= t '.filmography'
    %turbo-frame#filmography{src: person_filmography_path(@person)}
        = render "people/details_partials/skeletons/filmography"
- if @person.external_ids.any_ids?
    .component.d-md-none.external-links-standalone
        %h2= t '.external_links'
        = render "people/details_partials/external_links", person: @person
%hr
.component.comments{ "data-controller": "comment" }
    %h2= "kommentare"
    = render partial: "comments/form", locals: { commentable: @person, comment: Comment.new }
    = turbo_stream_from @person, :comments
    = tag.div id: "#{dom_id(@person)}_comments" do
        = render @person.comments.order(created_at: :desc)
%hr
.component.popular-people
    %h2= t '.popular_people'
    %turbo-frame#popular-people-scroller{src: popular_people_scroller_path()}
        = render "people/details_partials/skeletons/people_scroller", people_amount: 8