.sidebar
    .component.image-box.image-actions-box#imageBox
        .image
            = picture(@person, "w400")
        = render "people/details_partials/external_links", person: @person
        :javascript
            var imageBox = document.getElementById("imageBox");
            if (imageBox.querySelectorAll(".actions").length == 0) {
                imageBox.classList.remove("image-actions-box");
            }
    .component.details
        - if @person.known_for_department?
            .detail
                %h3= t '.known_for'
                %p= @person.department_translated
        - if @person.birthday?
            .detail
                %h3= t '.age'
                %p= "#{@person.age}#{" (†)" if @person.deathday?}"
            .detail
                %h3= t '.birthday'
                %p= date_in_locale_format(@person.birthday)
        - if @person.place_of_birth?
            .detail
                %h3= t '.place_of_birth'
                %p= @person.place_of_birth
        - if @person.deathday?
            .detail
                %h3= t '.deathday'
                %p= date_in_locale_format(@person.deathday)
        - if @person.gender != 0
            .detail
                %h3= t '.gender'
                %p= @person.gender_description