<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      <title><%= t '.subject' %></title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <meta name="color-scheme" content="light only">
      <meta name="supported-color-schemes" content="light only">
   </head>
   <body style="margin: 0; padding: 0;">
      <!-- background table -->
      <table bgcolor="#060D17" id="bgtable" align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" style= "padding: 0 10px;">
         <tr>
            <td align="center" valign="top">
               <!-- container 600px -->
               <table border="0" cellpadding="0" cellspacing="0" style="max-width: 600px; min-width: 350px">
                  <tr height="50"><td bgcolor="#060D17"></td></tr>
                  <tr><td height="20" bgcolor="#CBAA00" style="border-radius: 12px 12px 0 0"></td></tr>
                  <tr>
                     <td align="center" bgcolor="#1C252F" style="padding: 25px 25px 0 25px; color: #CBAA00; font-family: Arial, sans-serif; font-size: 28px;">
                        <p><%= t '.subject' %></p>
                     </td>
                  </tr>
                  <tr>
                     <td align="left" bgcolor="#1C252F" style="color: #FFFFFF; font-family: Arial, sans-serif; font-size: 18px; padding: 0 50px">
                        <p><%= t('.salutation', name: @user.username) %></p>
                        <p><%= t '.confirm_account_msg' %></p>
                     </td>
                  </tr>
                  <tr>
                     <td align="center" bgcolor="#1C252F" style="color: #FFFFFF; font-family: Arial, sans-serif; font-size: 18px; padding: 0 50px;">
                        <%= link_to t('.confirm_account_btn'), confirm_user_url(token: @token, locale: locale), method: :get, 
                            style: "background-color: #CBAA00; border: none; border-radius: 12px; color: white; font-size: 1.2rem; 
                            font-weight: bold; padding: 15px 25px; margin: 1.5rem 0; display: inline-block; text-decoration: none;" %>
                     </td>
                  </tr>
                  <tr>
                     <td align="left" bgcolor="#1C252F" style="color: #FFFFFF; font-family: Arial, sans-serif; font-size: 18px; padding: 0 50px">
                        <p><%= t '.link_expire_msg' %></p>
                     </td>
                  </tr>
                  <tr>
                     <td align="left" bgcolor="#1C252F" style="color: #FFFFFF; font-family: Arial, sans-serif; font-size: 18px; padding: 0 50px">
                        <p>
                            <%= t 'mailer.greeting' %>
                            <br>
                            <%= t 'mailer.greeting_sender' %>
                        </p>
                     </td>
                  </tr>
                  <tr><td height="20px" bgcolor="#1C252F" style="border-radius: 0 0 12px 12px"></td></tr>
                  <tr height="80px">
                    <td align="center" bgcolor="#060D17" style="color: #C4C4C4; font-family: Arial, sans-serif; font-size: 12px;">
                        <p>
                            <%= t 'mailer.reason_for_mail_msg' %>
                            <br>
                            <%= t 'mailer.reply_msg' %>
                        </p>
                    </td>
                  </tr>
               </table>
               <!-- container 600px -->
            </td>
         </tr>
      </table>
   </body>
</html>
