.links-footer
    .container
        .row
            .col
                .link-block 
                    %h1= t 'movies.index.popular'
                    - @popular_movies.each do |movie|
                        .link
                            = link_to movie.title, movie_details_path(movie.to_param)
            .col
                .link-block 
                    %h1= t 'movies.index.currently_in_theaters'
                    - @now_playing_movies.each do |movie|
                        .link
                            = link_to movie.title, movie_details_path(movie.to_param)
            .col
                .link-block 
                    %h1= t 'movies.index.coming_soon'
                    - @upcoming_movies.each do |movie|
                        .link
                            = link_to movie.title, movie_details_path(movie.to_param)
            .col
                .link-block 
                    %h1= "Angesagte Persönlichkeiten"
                    - @popular_people.each do |person|
                        .link
                            = link_to person.name, person_details_path(person.to_param)
.copyright-footer
    .container
        %span= "Copyright © #{Time.now.year} #{link_to "Fabian Schwarz", "https://github.com/fabian12943"}.".html_safe + " All Rights Reserved."