- if image_path.empty?
    = inline_svg_tag "no_image_placeholder.svg", class: "no-image-placeholder img-fluid"
- else
    = image_tag "#{@configuration.base_url}#{image_size}#{image_path}", class: "img-fluid"
