= render "shared/authentication/overview"

%nav.navbar.fixed-top.navbar-expand
  .container
    .collapse.navbar-collapse
      %ul.navbar-nav.me-auto.mb-2.mb-lg-0
        %li.nav-item
          = link_to movies_path, class: 'nav-link nav-text-link', target: "_top" do
            = t '.movies'
        %li.nav-item
          = link_to watchlists_path, class: 'nav-link nav-text-link', target: "_top" do
            = t '.watchlists'
        %li.nav-item
          = link_to '#', class: 'nav-link nav-text-link' do
            = t '.seen_movies'
      %form.d-flex
        %li.nav-item.dropdown
          .language-selection
            %a#languageDropdown.nav-link{"aria-expanded": "false", "data-bs-toggle": "dropdown", href: "#", role: "button"}
              = image_tag "flags/#{I18n.locale}.png", class: "img-flag"
            %ul.dropdown-menu.dropdown-menu-start.input-focused{"aria-labelledby": "languageDropdown"}
              %h3= t '.change_language'
              %li
                = link_to '#', target: '_top' do
                  .language-item.active
                    = image_tag "flags/#{I18n.locale}.png", class: "img-flag"
                    %span= full_language_name_in_locale(I18n.locale.to_s)
                    %i.fa-solid.fa-check
              - (I18n.available_locales - [I18n.locale]).each do |locale|
                %li
                  = link_to request.params.merge(locale: locale) do
                    .language-item
                      = image_tag "flags/#{locale}.png", class: "img-flag"
                      %span= "#{full_language_name_in_locale(locale.to_s, locale.to_s)} (#{full_language_name_in_locale(locale.to_s)})"
                      %i.fa-solid.fa-check
      %li.nav-item
        = form_tag search_path(), method: :get do
          %input.form-control.searchbar.icon{type: "search", placeholder: "#{t '.searchbar_placeholder'}", name: "query", value: params[:query], minlength: "3"}
      %li.nav-item
        - if user_logged_in?
          = link_to t('.sign_out'), destroy_user_session_path, class: "btn c-btn sign-out-btn", data: {turbo_method: :delete}
        - else
          = link_to "#authentication-overview", class: "btn c-btn sign-in-btn", "data-bs-toggle": "modal", role: "button" do
            = t '.sign_in'

  :javascript
    path = window.location.href
    elements = document.getElementsByClassName('nav-text-link')
    Array.from(elements).forEach(child => {
      if (child.href == path) {
          child.classList.add('active')
      }
    });
