= render "shared/authentication/overview"

%nav.navbar.fixed-top.navbar-expand-lg.navbar-dark
  .container
    = link_to movies_path, class: 'navbar-brand', target: "_top" do
      = image_tag("icon_master.svg", size: 52)
    %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-bs-target" => "#navbarSupportedContent", "data-bs-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
    .collapse.navbar-collapse#navbarSupportedContent
      %ul.navbar-nav.me-auto
        %li.nav-item
          = link_to movies_path, class: 'nav-link nav-text-link', target: "_top" do
            = t '.movies'
        %li.nav-item
          = link_to watchlists_path, class: 'nav-link nav-text-link', target: "_top" do
            = t '.watchlists'
        - if current_user
          %li.nav-item
            = link_to seen_movies_path(current_user.username), class: 'nav-link nav-text-link' do
              = t '.seen_movies'
      %form.d-flex
        = render "shared/navbar/language_selection_dropdown"
      %li.nav-item
        = form_tag search_path(), method: :get do
          %input.form-control.searchbar.icon{type: "search", placeholder: "#{t '.searchbar_placeholder'}", name: "query", value: params[:query], minlength: "3"}
      - if user_logged_in?
        = render "shared/navbar/user_profile_dropdown"
      - else
        %li.nav-item
          = link_to "#authentication-overview", class: "btn c-btn sign-in-btn", "data-bs-toggle": "modal", role: "button" do
            %i.fa-solid.fa-arrow-right-to-bracket
            %span.sign-in= t '.sign_in'

  :javascript
    path = window.location.href
    elements = document.getElementsByClassName('nav-text-link')
    Array.from(elements).forEach(child => {
      if (child.href == path) {
          child.classList.add('active')
      }
    });
